.history-element {
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 0px 10px;
  input {
    color: #ececec;
    border: 1px solid #ececec;
    padding: 7px;
    font-size: 16px;
    width: 100%;
    background-color: #212121;
  }
  a {
    color: #ececec;
    display: block;
    width: 100%;
    padding: 8px;
    transition: 0.3s;
  }
  &-control {
    display: flex;
    column-gap: 10px;
    button {
      cursor: pointer;
    }
  }
  &:hover {
    background-color: #212121;
  }
}
